@import url('https://fonts.googleapis.com/css2?family= Open+Sans:wght@300;400;500;600;700 & display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
 
:root{
    --white: #fff;
    --black: #1c2b2d;
    --light-blue: #005490;
    --color-primary: #9d0191;
    --color-sec: #db6400;
    --grey: #eee;
    --dark-grey: #222831;

}
body{
    font-weight: 600;
    font-family: "Montserrat";
}

html{
    font-size: 10px;
}

p{
    font-size: 1.6rem;
    line-height: 1.5;
}

<<<<<<< Updated upstream
<<<<<<< HEAD
img{
     width: 100%;
}
 
=======
>>>>>>> ba8708f1aae0853f1382ca7e53aa8667b38f0461
=======
>>>>>>> Stashed changes
.container{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
<<<<<<< Updated upstream
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
<<<<<<< HEAD
    text-align: center;
    border-radius: 5px;
=======
>>>>>>> ba8708f1aae0853f1382ca7e53aa8667b38f0461
}

.counter-div{
    width: 40rem;
    color: var(--white);
    border-radius: 5px;
<<<<<<< HEAD
}

.counter > *{
    margin-bottom: 2rem;
} 

.count{
    font-size: 4rem;
    border: 1px solid var(--white);
    padding: 0 1rem;
=======
    font-weight: 700;
    box-shadow: #1c2b2d;
}

.counter-div > *{
    margin-bottom: 2rem;
}

.count{
    font-size: 4rem;
>>>>>>> ba8708f1aae0853f1382ca7e53aa8667b38f0461
}

.buttons button{
    padding: 1rem;
    margin: 0 1rem;
    font-size: 1.5rem;
<<<<<<< HEAD
    color: var(--black);
    font-weight: 700;
    border: none;
    outline: none;
    border-radius: 35px;
    background-color: var(--white);
    margin-top: 2rem;
=======
    border: none;
    outline: none;
    border-radius: 3px;
    font-family: 'Montserrat';
    cursor: pointer;

}

button.subtract{
    background-color: orangered;
    color: var(--white);
}
button.reset{
    background-color: var(--white);
    color: var(--black);
}
button.add{
    background-color: green;
    color: var(--white);
    font-family: 'Montserrat';
}

.fas{
    display: visible;
>>>>>>> ba8708f1aae0853f1382ca7e53aa8667b38f0461
=======
>>>>>>> Stashed changes
}